<html>
<table border='1' rules='cols'>
<thead>
<tr><th>ID</th><th>class_ID</th><th>line</th><th>line_nbr</th><th>name</th></tr>
</thead>
<tr bgcolor="#FFFFFF"><td  align="left">303</td><td  align="left">14</td><td  align="left">sub _init</td><td  align="left">45</td><td  align="left">_init</td></tr>
<tr bgcolor="#DDDDDD"><td  align="left">306</td><td  align="left">14</td><td  align="left">sub method_arg_mixed {</td><td  align="left">90</td><td  align="left">method_arg_mixed</td></tr>
<tr bgcolor="#FFFFFF"><td  align="left">305</td><td  align="left">14</td><td  align="left">sub method_arg_named {</td><td  align="left">71</td><td  align="left">method_arg_named</td></tr>
<tr bgcolor="#DDDDDD"><td  align="left">304</td><td  align="left">14</td><td  align="left">sub method_arg_pos {</td><td  align="left">55</td><td  align="left">method_arg_pos</td></tr>
<tr bgcolor="#FFFFFF"><td  align="left">302</td><td  align="left">14</td><td  align="left">sub new</td><td  align="left">30</td><td  align="left">new</td></tr>
</table><p/>
</html>
